<!DOCTYPE html>
<html lang="en">
<head>
    <script></script>
    <title>Except</title>
</head>
<body>
    {%   if k == 1 %}
    <h2> you Don't Have any Request!!</h2>
    <form action="{% url 'Add_Animal' %}" method="post">
        {% csrf_token %}
        <input type="hidden" value="{{ F }}" name="farmer">
        <input type="submit" value="AddAnimals" >
    </form>
    {% else %} 
       <h1> Account Desn't Exist</h1>
       <form action="{% url 'adm' type='farmer' %}" method="post">
        {% csrf_token %}
        <input type="hidden" value="{{ F }}" name="farmer">
        <input type="submit" value="registration" >

    {% endif %}
</body>
</html>