<div class="search" style="float: right;">
     <!-- <button type="button" (click)="search()" class="btn btn-warning me-2" >search :</button>  
     <input  type="text" #take> -->
     <form (ngSubmit)="search($event)">
        <input type="submit" class="bt btn-warning me-2"> : 

        <input name="player">
     </form>
    </div>
<table class="table">
    <tr>
        <th>PaymentId</th>
        <!-- <th>status</th> -->
        <th>Amount</th>
        <th>Prescription</th>
        <th>Customer Email</th>
        <th>Doctor Email</th>
        <th></th>

    </tr>
    <tr *ngFor="let data of custinfo;">
        <td>{{ data.payment_id }}</td>
        <!-- <th>{{ data.details_status }}</th> -->
        <td>{{ data.details_amount  }}</td>
        <td>{{ data.details_prescription }}</td>
        <!-- <th>{{ data.details_prescription }}</th> -->
        <td>{{ data.customer_email }}</td>
        <td>{{ data.doctor_email }}</td>

    </tr>
</table>